<section class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<% @post_images.each do |post_image| %>
  	<div class="masonry-block">
  		<div class="block block-image">
  			<div class="block-image">
  				<div class="view view-first">
  					<%= link_to post_image_path(post_image.id) do %>
  					<%= attachment_image_tag post_image, :image, class: "my-img" %>
  					<% end %>
  				</div>
  			</div>
  			<div class="block-content">
  				<%= attachment_image_tag post_image.user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
  				<h3 class="block-title">
  					<%= link_to post_image_path(post_image.id) do %>
  					<i class="fa fa-map-marker"></i>
  					<%= post_image.book_name %>
  					<% end %>
  				</h3>
  				<p><%= post_image.opinion %></p>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</section>